@model RosterCheck_ASPNET.Models.GuildModel.Character

@Html.Partial("Search")

@if (Model != null)
{
    <table>

        @*table column names*@
        <tr>
            <th>
                Name
            </th>
            <th>
                Realm
            </th>
            <th>
                Issues
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(x => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Realm)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Audit.NumberOfIssues)
            </td>
        </tr>
    </table>
}